@use "../abstracts" as *;

.hero {
  background: {
    image: url(/assets/images/mobile/image-hero.jpg);
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
  color: var(--white);
  height: 650px;
  padding-top: 40px;
  overflow: hidden;

  @include mq(992px) {
    padding-top: 64px;
  }

  h2 {
    border: solid 2px var(--white);
    font: {
      size: em(33px);
      weight: 300;
    }
    grid-column: 2 / span 4;
    margin-top: 162px;
    min-height: 198px;
    padding: 25px 22px 9px;
    text-transform: uppercase;
    width: min(653px, 100%);

    @include mq(375px) {
      font-size: em(40px);
    }

    @include mq(991px, max-width) {
      line-height: 0.95;
    }

    @include mq(992px) {
      font-size: em(72px);
      line-height: 0.98;
      margin-top: 130px;
      min-height: 278px;
      padding: 39px 40px 25px;
    }
  }
}
