@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

$font_alta: "Alata", sans-serif;
$font_josefin: "Josefin Sans", sans-serif;

$BASE_FONTSIZE: 16px;

$BASE_FONT: $font_josefin;
$SECONDARY_FONT: $font_alta;
